<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

<!--    <logger name="io.netty" level="INFO"/>-->
<!--    <logger name="io.micronaut.security" level="INFO"/>-->
        <logger name="org.springframework.security" level="INFO" />
<!--    <logger name="io.micronaut.jackson" level="INFO"/>-->
<!--    <logger name="io.micronaut" level="DEBUG"/>-->
<!--    <logger name="io.micronaut.context.condition" level="DEBUG"/>-->
<!--    <logger name="io.micronaut.http.client" level="DEBUG"/>-->
<!--    <logger name="io.micronaut.discovery" level="DEBUG"/>-->
    <logger name="casino.account" level="INFO"/>

    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
